@media (min-width: 1120px) {
  .main {
    margin-top: 10px;
  }

  .main__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .main__nav-list > li {
    margin-right: 20px;
    color: #7e7e82;
  }

  .active {
    border: 2px solid #b8ffec;
    border-radius: 6px;
    padding: 8px 22px;
    background-color: #fff;
  }
}
